body {
    width: 250px;
    padding: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}
button#delete {
    background-color: #dc3545; /* Red color */
    margin-top: 5px;
}

button#delete:hover {
    background-color: #c82333;
}
